In [5]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

In [2]:
mt5.initialize()

True

In [28]:
# set time zone to UTC
timezone = pytz.timezone("Etc/UTC")
# create 'datetime' object in UTC time zone to avoid the implementation of a local time zone offset
utc_from = datetime(2020, 1, 10, tzinfo=timezone)
# get 10 EURUSD H4 bars starting from 01.10.2020 in UTC time zone
rates = mt5.copy_rates_from("ITSA4", mt5.TIMEFRAME_M5, utc_from, 1000)
itsa4 = pd.DataFrame(rates)
itsa4['time']=pd.to_datetime(itsa4['time'], unit='s')
itsa4 = itsa4.set_index('time')
itsa4 = itsa4[['open', 'high', 'low', 'close', 'real_volume']]

In [35]:
itsa4.head(5)

                      open   high    low  close  real_volume
time
2019-12-20 13:20:00  13.39  13.40  13.39  13.39        42000
2019-12-20 13:25:00  13.39  13.41  13.38  13.40        54100
2019-12-20 13:30:00  13.40  13.42  13.40  13.42       125400
2019-12-20 13:35:00  13.42  13.42  13.41  13.42        38500
2019-12-20 13:40:00  13.42  13.42  13.41  13.42        73800

In [43]:
def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 1, 10, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 1000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['open', 'high', 'low', 'close', 'real_volume']]
    return dados

In [44]:
bidi4 = baixa_cotacao('BIDI4')

In [49]:
bidi4

                      open   high    low  close  real_volume
time
2019-12-20 13:05:00  14.84  14.85  14.82  14.82         1200
2019-12-20 13:10:00  14.83  14.85  14.83  14.84         2100
2019-12-20 13:15:00  14.84  14.86  14.83  14.86         3900
2019-12-20 13:20:00  14.85  14.85  14.84  14.84          600
2019-12-20 13:25:00  14.84  14.84  14.83  14.84          800
...                    ...    ...    ...    ...          ...
2020-01-09 17:30:00  17.05  17.08  17.04  17.05         5300
2020-01-09 17:35:00  17.06  17.09  17.01  17.06        16600
2020-01-09 17:40:00  17.08  17.13  17.08  17.11        10500
2020-01-09 17:45:00  17.11  17.11  17.04  17.08         6000
2020-01-09 17:50:00  17.08  17.23  16.97  17.23       174700

[1000 rows x 5 columns]

In [47]:
bbas3 = baixa_cotacao('BBAS3')

In [48]:
bbas3

                      open   high    low  close  real_volume
time
2019-12-20 13:20:00  49.94  49.96  49.87  49.90        26400
2019-12-20 13:25:00  49.90  49.90  49.83  49.87        39800
2019-12-20 13:30:00  49.87  49.98  49.87  49.96        62000
2019-12-20 13:35:00  49.97  50.03  49.96  50.00        32900
2019-12-20 13:40:00  50.01  50.02  49.97  50.00        31000
...                    ...    ...    ...    ...          ...
2020-01-09 17:30:00  50.23  50.24  50.16  50.17       108000
2020-01-09 17:35:00  50.17  50.20  50.15  50.16        98900
2020-01-09 17:40:00  50.16  50.30  50.16  50.30       233100
2020-01-09 17:45:00  50.30  50.37  50.20  50.35       251700
2020-01-09 17:50:00  50.36  50.45  50.33  50.45      2400800

[1000 rows x 5 columns]

In [42]:
result = pd.concat([itsa4, bbas3,bidi4], axis=1, join='inner')
result

,open,high,low,close,real_volume,open,high,low,close,real_volume,open,high,low,close,real_volume
time,,,,,,,,,,,,,,,
2019-12-20 13:20:00,13.39,13.40,13.39,13.39,42000,49.94,49.96,49.87,49.90,26400,14.85,14.85,14.84,14.84,600
2019-12-20 13:25:00,13.39,13.41,13.38,13.40,54100,49.90,49.90,49.83,49.87,39800,14.84,14.84,14.83,14.84,800
2019-12-20 13:30:00,13.40,13.42,13.40,13.42,125400,49.87,49.98,49.87,49.96,62000,14.84,14.89,14.84,14.86,13500
2019-12-20 13:35:00,13.42,13.42,13.41,13.42,38500,49.97,50.03,49.96,50.00,32900,14.87,14.87,14.86,14.87,3400
2019-12-20 13:40:00,13.42,13.42,13.41,13.42,73800,50.01,50.02,49.97,50.00,31000,14.86,14.86,14.84,14.84,6900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-09 17:30:00,12.99,12.99,12.97,12.98,158800,50.23,50.24,50.16,50.17,108000,17.05,17.08,17.04,17.05,5300
2020-01-09 17:35:00,12.97,12.99,12.97,12.98,236100,50.17,50.20,50.15,50.16,98900,17.06,17.09,17.01,17.06,16600
2020-01-09 17:40:00,12.98,13.00,12.97,13.00,499600,50.16,50.30,50.16,50.30,233100,17.08,17.13,17.08,17.11,10500
2020-01-09 17:45:00,13.00,13.00,12.98,13.00,400900,50.30,50.37,50.20,50.35,251700,17.11,17.11,17.04,17.08,6000
2020-01-09 17:50:00,13.00,13.05,12.97,12.97,2462500,50.36,50.45,50.33,50.45,2400800,17.08,17.23,16.97,17.23,174700