In [14]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 7, 1, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 3000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['close', 'real_volume']]
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='inner')
    #changing columns names    
    colm = [] 
    for i in empresas:
        colm.append(['Close '+i])
        colm.append(['Volume '+i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
    
    return data

In [16]:
mt5.initialize()

True

In [3]:
empresas = ['ITSA4','ITSA3','IBOV','BBAS3','BIDI4','ITUB3','ITUB4']

In [13]:
dados = concatenate(empresas)

In [14]:
dados.head()

,Close ITSA4,Volume ITSA4,Close ITSA3,Volume ITSA3,Close IBOV,Volume IBOV,Close BBAS3,Volume BBAS3,Close BIDI4,Volume BIDI4,Close ITUB3,Volume ITUB3,Close ITUB4,Volume ITUB4
time,,,,,,,,,,,,,,
2019-12-20 14:40:00,13.42,52900,13.47,500,114894.0,145810380,49.94,39500,14.83,4200,30.47,6500,35.29,79100
2019-12-20 14:45:00,13.41,21900,13.49,1300,114950.0,110806270,50.04,88000,14.82,2200,30.48,1000,35.32,43700
2019-12-20 14:50:00,13.42,135600,13.51,900,115026.0,145016620,50.05,74600,14.81,37400,30.47,3900,35.32,77900
2019-12-20 15:00:00,13.40,18400,13.49,600,114929.0,253162856,50.05,103500,14.81,13100,30.48,100,35.29,50900
2019-12-20 15:05:00,13.41,16500,13.49,500,114909.0,66152725,50.00,43400,14.82,9100,30.46,1600,35.27,45600

In [17]:
dados.to_excel('cotacoes.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

In [9]:
mt5.shutdown()

True

In [4]:
qu = ['WIN$', 'DOL$']

In [25]:
dados

,Close WIN$,Volume WIN$,Close WIN@,Volume WIN@,Close WIN$D,Volume WIN$D,Close WIN$N,Volume WIN$N,Close WIN@D,Volume WIN@D,...,Close IND@,Volume IND@,Close IND$D,Volume IND$D,Close IND$N,Volume IND$N,Close IND@D,Volume IND@D,Close IND@N,Volume IND@N
time,,,,,,,,,,,,,,,,,,,,,
2020-05-21 10:45:00,82780.0,145738,82780.0,145738,82780.0,145738,82780.0,145738,82780.0,145738,...,82800.0,2085,82800.0,2085,82800.0,2085,82800.0,2085,82800.0,2085
2020-05-21 10:50:00,82700.0,118176,82700.0,118176,82700.0,118176,82700.0,118176,82700.0,118176,...,82690.0,1235,82690.0,1235,82690.0,1235,82690.0,1235,82690.0,1235
2020-05-21 10:55:00,82710.0,133841,82710.0,133841,82710.0,133841,82710.0,133841,82710.0,133841,...,82710.0,1300,82710.0,1300,82710.0,1300,82710.0,1300,82710.0,1300
2020-05-21 11:00:00,82710.0,105676,82710.0,105676,82710.0,105676,82710.0,105676,82710.0,105676,...,82705.0,945,82705.0,945,82705.0,945,82705.0,945,82705.0,945
2020-05-21 11:05:00,82835.0,96694,82835.0,96694,82835.0,96694,82835.0,96694,82835.0,96694,...,82830.0,940,82830.0,940,82830.0,940,82830.0,940,82830.0,940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-30 17:30:00,95170.0,47030,95170.0,47030,95170.0,47030,95170.0,47030,95170.0,47030,...,95180.0,725,95180.0,725,95180.0,725,95180.0,725,95180.0,725
2020-06-30 17:35:00,95175.0,33024,95175.0,33024,95175.0,33024,95175.0,33024,95175.0,33024,...,95175.0,550,95175.0,550,95175.0,550,95175.0,550,95175.0,550
2020-06-30 17:40:00,95170.0,21446,95170.0,21446,95170.0,21446,95170.0,21446,95170.0,21446,...,95160.0,355,95160.0,355,95160.0,355,95160.0,355,95160.0,355
2020-06-30 17:45:00,95135.0,25045,95135.0,25045,95135.0,25045,95135.0,25045,95135.0,25045,...,95140.0,595,95140.0,595,95140.0,595,95140.0,595,95140.0,595
2020-06-30 17:50:00,95100.0,33838,95100.0,33838,95100.0,33838,95100.0,33838,95100.0,33838,...,95015.0,1890,95015.0,1890,95015.0,1890,95015.0,1890,95015.0,1890

In [26]:
with pd.ExcelWriter('dados_win_dol.xlsx', mode='a') as writer:
    dados.to_excel(writer, sheet_name='5m 3000 validacao', index=False)

In [16]:
dados.to_excel('dados_win_dol.xlsx')

## download with all features

In [78]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 5, 1, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 90000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['open', 'high', 'low', 'close', 'real_volume']]
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='inner')
    #changing columns names    
    colm = [] 
    for i in empresas:
        colm.append(['open '+i])
        colm.append(['high '+i])
        colm.append(['low '+i])
        colm.append(['close '+i])
        colm.append(['volume'+i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
    
    return data

In [79]:
qu = ['WIN$', 'DOL$']

In [80]:
dados = concatenate(qu)

In [81]:
dados

,open WIN$,high WIN$,low WIN$,close WIN$,volumeWIN$,open DOL$,high DOL$,low DOL$,close DOL$,volumeDOL$
time,,,,,,,,,,
2016-12-21 13:25:00,70695.0,70852.0,70689.0,70815.0,8192,3829.959,3831.106,3829.959,3831.106,645
2016-12-21 13:30:00,70815.0,70815.0,70477.0,70544.0,22378,3831.106,3832.252,3830.532,3831.106,1160
2016-12-21 13:35:00,70538.0,70664.0,70501.0,70622.0,8733,3831.106,3831.106,3829.959,3830.532,860
2016-12-21 13:40:00,70628.0,70664.0,70520.0,70556.0,6383,3831.106,3831.106,3828.239,3828.812,885
2016-12-21 13:45:00,70556.0,70652.0,70532.0,70592.0,5014,3829.386,3831.106,3829.386,3831.106,1295
...,...,...,...,...,...,...,...,...,...,...
2020-04-30 17:30:00,80265.0,80310.0,80160.0,80275.0,50402,5490.635,5495.143,5488.130,5492.138,785
2020-04-30 17:35:00,80270.0,80345.0,80205.0,80315.0,40176,5491.136,5493.641,5486.628,5492.639,600
2020-04-30 17:40:00,80310.0,80340.0,80165.0,80180.0,35605,5492.639,5499.151,5490.134,5494.142,2340
2020-04-30 17:45:00,80180.0,80245.0,80095.0,80140.0,37704,5493.140,5500.153,5467.092,5498.650,3415
2020-04-30 17:50:00,80140.0,80320.0,79955.0,80100.0,44130,5497.648,5505.663,5497.147,5501.154,2975

In [74]:
baixa_cotacao('WIN$').columns

Index(['open', 'high', 'low', 'close', 'tick_volume', 'spread', 'real_volume'], dtype='object')

In [82]:
dados.to_excel('cotacaotreino_win_dol.xlsx')

In [100]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 7, 9, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 3000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['open', 'high', 'low', 'close', 'real_volume']]
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='inner')
    #changing columns names    
    colm = [] 
    for i in empresas:
        colm.append(['open '+i])
        colm.append(['high '+i])
        colm.append(['low '+i])
        colm.append(['close '+i])
        colm.append(['volume'+i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
    
    return data

In [101]:
dados = concatenate(qu)

In [102]:
dados

,open WIN$,high WIN$,low WIN$,close WIN$,volumeWIN$,open DOL$,high DOL$,low DOL$,close DOL$,volumeDOL$
time,,,,,,,,,,
2020-05-29 10:50:00,86975.0,87080.0,86865.0,86890.0,113069,5429.5,5433.5,5424.5,5431.5,3245
2020-05-29 10:55:00,86890.0,86915.0,86545.0,86605.0,149695,5431.0,5445.0,5430.5,5442.0,3820
2020-05-29 11:00:00,86600.0,86705.0,86505.0,86565.0,109485,5442.0,5448.0,5435.5,5446.5,5635
2020-05-29 11:05:00,86565.0,86665.0,86275.0,86360.0,147821,5446.0,5448.0,5439.5,5445.0,3895
2020-05-29 11:10:00,86360.0,86415.0,86235.0,86390.0,122927,5444.5,5447.0,5437.0,5438.5,2230
...,...,...,...,...,...,...,...,...,...,...
2020-07-08 17:30:00,100010.0,100090.0,100005.0,100055.0,33064,5340.0,5341.5,5335.5,5340.5,590
2020-07-08 17:35:00,100050.0,100060.0,100020.0,100025.0,20298,5340.5,5346.0,5340.5,5341.5,545
2020-07-08 17:40:00,100020.0,100065.0,100015.0,100050.0,24595,5342.5,5343.5,5340.0,5341.0,1860
2020-07-08 17:45:00,100050.0,100060.0,100000.0,100030.0,26754,5341.5,5342.5,5341.0,5342.5,225
2020-07-08 17:50:00,100030.0,100150.0,100005.0,100150.0,34485,5342.0,5343.5,5340.0,5342.0,960

In [103]:
with pd.ExcelWriter('cotacaotreino_win_dol.xlsx', mode='a') as writer:
    dados.to_excel(writer, sheet_name='validacao', index=False)

PermissionError: [Errno 13] Permission denied: 'cotacaotreino_win_dol.xlsx'

In [104]:
dados.to_excel('cotacaovalidacao_win_dol.xlsx')