In [30]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 1, 10, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 1000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['close', 'real_volume']]
    return dados

def concatenate(data,empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
        except:
            print(f'algum erro com: {i}')
            
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='inner')
        
    colm = [] #column name 
    for i in empresas:
        colm.append(['Close '+i])
        colm.append(['Volume '+i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
    
    return data

In [13]:
mt5.initialize()

True

In [14]:
empresas = ['ITSA4','ITSA3','IBOV','BBAS3','BIDI4','ITUB3','ITUB4']

In [15]:
dic = {}
for i in empresas:
    try:
        dic[i] = baixa_cotacao(i)
    except:
        print(f'algum erro com: {i}')

In [16]:
conc = False
for k,v in dic.items():
    if not conc:
        data = dic[k]
        conc = True
    else:
        data = pd.concat([data,dic[k]],axis=1,join='inner')

In [22]:
colm = [] #column name 
for i in empresas:
    colm.append(['Close '+i])
    colm.append(['Volume '+i])

flatList = [ item for elem in colm for item in elem]
data.columns = flatList

In [23]:
colm

[['Close ITSA4'],
 ['Volume ITSA4'],
 ['Close ITSA3'],
 ['Volume ITSA3'],
 ['Close IBOV'],
 ['Volume IBOV'],
 ['Close BBAS3'],
 ['Volume BBAS3'],
 ['Close BIDI4'],
 ['Volume BIDI4'],
 ['Close ITUB3'],
 ['Volume ITUB3'],
 ['Close ITUB4'],
 ['Volume ITUB4']]

In [24]:
flatList = [ item for elem in colm for item in elem]

In [25]:
flatList

['Close ITSA4',
 'Volume ITSA4',
 'Close ITSA3',
 'Volume ITSA3',
 'Close IBOV',
 'Volume IBOV',
 'Close BBAS3',
 'Volume BBAS3',
 'Close BIDI4',
 'Volume BIDI4',
 'Close ITUB3',
 'Volume ITUB3',
 'Close ITUB4',
 'Volume ITUB4']

In [27]:
data.columns = flatList

In [28]:
data

,Close ITSA4,Volume ITSA4,Close ITSA3,Volume ITSA3,Close IBOV,Volume IBOV,Close BBAS3,Volume BBAS3,Close BIDI4,Volume BIDI4,Close ITUB3,Volume ITUB3,Close ITUB4,Volume ITUB4
time,,,,,,,,,,,,,,
2019-12-20 14:40:00,13.42,52900,13.47,500,114894.0,145810380,49.94,39500,14.83,4200,30.47,6500,35.29,79100
2019-12-20 14:45:00,13.41,21900,13.49,1300,114950.0,110806270,50.04,88000,14.82,2200,30.48,1000,35.32,43700
2019-12-20 14:50:00,13.42,135600,13.51,900,115026.0,145016620,50.05,74600,14.81,37400,30.47,3900,35.32,77900
2019-12-20 15:00:00,13.40,18400,13.49,600,114929.0,253162856,50.05,103500,14.81,13100,30.48,100,35.29,50900
2019-12-20 15:05:00,13.41,16500,13.49,500,114909.0,66152725,50.00,43400,14.82,9100,30.46,1600,35.27,45600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-09 17:30:00,12.98,158800,13.08,1100,115697.0,253840480,50.17,108000,17.05,5300,29.44,114300,33.85,875900
2020-01-09 17:35:00,12.98,236100,13.09,700,115617.0,205828390,50.16,98900,17.06,16600,29.53,14600,33.89,247000
2020-01-09 17:40:00,13.00,499600,13.10,700,115812.0,292986180,50.30,233100,17.11,10500,29.63,1600,33.87,856300
2020-01-09 17:45:00,13.00,400900,13.12,1300,115810.0,412495780,50.35,251700,17.08,6000,29.59,9500,33.84,753600
2020-01-09 17:50:00,12.97,2462500,13.13,5900,115924.0,304772050,50.45,2400800,17.23,174700,29.75,48100,33.86,3344700

In [31]:
empresas = ['ITSA4','ITSA3','IBOV','BBAS3','BIDI4','ITUB3','ITUB4']

In [33]:
database = concatenate(data,empresas)

In [34]:
database

,Close ITSA4,Volume ITSA4,Close ITSA3,Volume ITSA3,Close IBOV,Volume IBOV,Close BBAS3,Volume BBAS3,Close BIDI4,Volume BIDI4,Close ITUB3,Volume ITUB3,Close ITUB4,Volume ITUB4
time,,,,,,,,,,,,,,
2019-12-20 14:40:00,13.42,52900,13.47,500,114894.0,145810380,49.94,39500,14.83,4200,30.47,6500,35.29,79100
2019-12-20 14:45:00,13.41,21900,13.49,1300,114950.0,110806270,50.04,88000,14.82,2200,30.48,1000,35.32,43700
2019-12-20 14:50:00,13.42,135600,13.51,900,115026.0,145016620,50.05,74600,14.81,37400,30.47,3900,35.32,77900
2019-12-20 15:00:00,13.40,18400,13.49,600,114929.0,253162856,50.05,103500,14.81,13100,30.48,100,35.29,50900
2019-12-20 15:05:00,13.41,16500,13.49,500,114909.0,66152725,50.00,43400,14.82,9100,30.46,1600,35.27,45600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-09 17:30:00,12.98,158800,13.08,1100,115697.0,253840480,50.17,108000,17.05,5300,29.44,114300,33.85,875900
2020-01-09 17:35:00,12.98,236100,13.09,700,115617.0,205828390,50.16,98900,17.06,16600,29.53,14600,33.89,247000
2020-01-09 17:40:00,13.00,499600,13.10,700,115812.0,292986180,50.30,233100,17.11,10500,29.63,1600,33.87,856300
2020-01-09 17:45:00,13.00,400900,13.12,1300,115810.0,412495780,50.35,251700,17.08,6000,29.59,9500,33.84,753600
2020-01-09 17:50:00,12.97,2462500,13.13,5900,115924.0,304772050,50.45,2400800,17.23,174700,29.75,48100,33.86,3344700